*{
    margin:5px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: black;
    color: white;
}
header nav{
    background-color: #2b1d0f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
header nav form{
    display: flex;
    justify-content:center;
}
form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type='text'],button[type=
"submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}
form button[type="submit"]{
    background-color: tomato;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
form button[type="submit"]:hover{
    background-color: rgb(223, 72, 45);

}
.recipe-content{
    text-align: center;
}
/* Responsive code  */
@media screen and (max-width:600px){
    header nav{
        flex-direction: column;
       
    }
    header nav form{
        margin-top:30px ; 
        margin-top: 20px;
    }
   
}